@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

.container {
  font-family: "Rubik", sans-serif;
  width: 90%;
}

.container .navbar {
  margin: 0 auto;
}

.container .navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin-left: 4rem;
}

.container .navbar .navbar__menu .menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .navbar__menu .menu__logo .logo {
  width: 32px;
  height: 32px;
  margin-right: 0.4rem;
}

.container .navbar .navbar__menu .menu__logo .name {
  text-decoration: none;
  color: #5f4544;
  font-size: 34px;
  font-weight: 500;
}

.container .navbar .navbar__menu .menu__logo .name .vpn {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  font-weight: 700;
}

.container .navbar .navbar__menu .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3rem;
}

.container .navbar .navbar__menu .menu__items .items {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0px 0.8rem;
  text-decoration: none;
  font-weight: 400;
  color: #4f5665;
  position: relative;
}

.container .navbar .navbar__menu .menu__items .items::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #4f5665;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.container .navbar .navbar__menu .menu__items .items:hover::after {
  left: 0%;
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.container .navbar .navbar__menu .menu__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .navbar__menu .menu__sign .sign {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 0.8rem 3rem;
  margin: 0 1rem;
}

.container .navbar .navbar__menu .menu__sign .link .signup {
  padding: 0.6rem 2rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #f53855;
  border-radius: 50px;
  border: 1px solid #f53855;
}

.container .navbar .navbar__menu .menu__sign .link .signup:hover {
  color: #fff;
  background-color: #f53855;
}

.container .navbar .navbar__menu .menu__sign .link:hover {
  -webkit-animation: 0.5s infinite;
          animation: 0.5s infinite;
  -webkit-animation-name: duk;
          animation-name: duk;
}

@-webkit-keyframes duk {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes duk {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.container .navbar .mobile__logo {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .mobile__logo .logotip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .mobile__logo .logotip .logo {
  width: 16%;
  height: 15%;
}

.container .navbar .mobile__logo .logotip .name {
  margin-left: 0.5rem;
  font-size: 22px;
  font-weight: 500;
}

.container .navbar .mobile__logo .logotip .name .vpn {
  font-size: 22px;
}

.container .navbar .mobile__logo .burger__btn {
  position: relative;
  padding: 5px;
}

.container .navbar .mobile__logo .burger__btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #000;
  right: 0;
  top: 0;
}

.container .navbar .mobile__logo .burger__btn::before {
  content: "";
  width: 20px;
  height: 3px;
  position: absolute;
  background: red;
  right: 0;
  bottom: 0;
}

.container .navbar .mobile__menu {
  background: #856868;
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 150px 0;
  z-index: 4;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.container .navbar .mobile__menu .menuu {
  padding: 1rem 3rem;
}

.container .navbar .mobile__menu .menuu .mobile__sign .sign {
  margin: 0px 0.5rem;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.container .navbar .mobile__menu .menuu .mobile__sign .sign1 {
  margin: 0px 0.5rem;
  text-decoration: none;
  color: #f53855;
  font-size: 18px;
  font-weight: 500;
}

.container .navbar .mobile__menu .close__btn {
  position: relative;
}

.container .navbar .mobile__menu .close__btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
  border-radius: 5px;
}

.container .navbar .mobile__menu .close__btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #000;
  border-radius: 5px;
}

.container .navbar .mobile__menu .mobile__items {
  margin-top: 5rem;
  line-height: 80px;
}

.container .navbar .mobile__menu .mobile__items .items {
  text-decoration: none;
  color: #4f5665;
  font-size: 19px;
  font-weight: 500;
}

.container .navbar .mobile__menu.active {
  top: 0;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .main {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .main__content {
  width: 50%;
  margin-left: 9rem;
}

.container .main .main__content .main__title {
  width: 70%;
  font-size: 50px;
  font-weight: 400;
}

.container .main .main__content .main__title .lasles {
  font-weight: 600;
}

.container .main .main__content .content__text {
  width: 70%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #4f5665;
  line-height: 25px;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.container .main .main__content .content__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 56px;
  background: #f53838;
  border-radius: 10px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.container .main .main__content .content__link:hover {
  background: #fff;
  color: #f53855;
  border: 1px solid #f53855;
}

.container .main .main__img .img {
  width: 100%;
  height: 100%;
}

.container .main__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.5rem;
}

.container .main__foot .main__footer {
  -webkit-box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.041);
          box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.041);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 200px;
}

.container .main__foot .main__footer .footer__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main__foot .main__footer .footer__table .table__img {
  width: 50%;
  height: 50%;
}

.container .main__foot .main__footer .footer__table .table__result {
  margin-left: 1rem;
  list-style: none;
  line-height: 24px;
}

.container .main__foot .main__footer .footer__table .table__result .number {
  font-weight: 600;
  font-size: 27px;
}

.container .main__foot .main__footer .footer__table .table__result .user {
  font-size: 17px;
  font-weight: 400;
}

.container .check {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .check .check__img {
  margin-left: 14rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .check .check__img img {
  width: 100%;
  height: 100%;
}

.container .check .check__content {
  width: 50%;
  margin-left: 17rem;
}

.container .check .check__content .check__title {
  width: 70%;
  font-size: 35px;
  font-weight: 600;
  color: #0b132a;
}

.container .check .check__content .check__text {
  width: 80%;
  color: #4f5665;
  line-height: 24px;
  margin: 1rem 0;
}

.container .check .check__content .check__table .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 38px;
}

.container .check .check__content .check__table .table .table__check {
  width: 25px;
}

.container .check .check__content .check__table .table .table__text {
  color: #4f5665;
  font-size: 18px;
  margin: 0 0.5rem;
}

.plan {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

.plan .plan__content {
  text-align: center;
}

.plan .plan__content .plan__title {
  font-size: 35px;
  font-weight: 600;
  color: #0b132a;
}

.plan .plan__content .textt {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .plan__content .textt .plan__text {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan .intro .plan__box {
  border: 2px solid #9c9898;
  width: 17%;
  background: #fff;
  height: 680px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.plan .intro .plan__box:hover {
  border-color: #f53838;
}

.plan .intro .box__card .card__head {
  margin-top: 1rem;
}

.plan .intro .box__card .card__head .card__img {
  text-align: center;
  width: 100%;
  height: 100%;
}

.plan .intro .box__card .card__head .card__title {
  margin-top: 1rem;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
}

.plan .intro .box__card .card__content .card__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.plan .intro .box__card .card__content .card__main .main__img {
  list-style: none;
}

.plan .intro .box__card .card__content .card__main .main__img img {
  margin-right: 0.2rem;
  width: 30px;
}

.plan .intro .box__card .card__content .card__main .main__text {
  list-style: none;
}

.plan .intro .box__card .card__content .card__main .main__text p {
  font-size: 18px;
  font-weight: 500;
  color: #4f5665;
}

.plan .intro .box__card .card__link {
  text-align: center;
  list-style: none;
}

.plan .intro .box__card .card__link .link__free {
  color: #0b132a;
  font-weight: 500;
  font-size: 25px;
  margin-top: 3rem;
}

.plan .intro .box__card .card__link .link {
  text-decoration: none;
  color: #f53855;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #f53855;
  width: 175px;
  height: 48px;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plan .intro .box__card .card__link .link:hover {
  background-color: #f53838;
  -webkit-box-shadow: 0px 10px 72px #ff04044d;
          box-shadow: 0px 10px 72px #ff04044d;
  color: #fff;
}

.map {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  width: 100%;
}

.map .map__content .content__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.map .map__content .content__tit .title {
  width: 23%;
  font-size: 35px;
  color: #0b132a;
  font-weight: 500;
}

.map .map__content .content__te {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .map__content .content__te .text {
  color: #4f5665;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  width: 30%;
}

.map .map__img {
  margin: 3rem 0px;
  text-align: center;
}

.map .map__img img {
  width: 60%;
}

.map .map__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.map .map__link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.map .map__link .link img {
  width: 42%;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.map .map__link .link .spotify {
  width: 42%;
  opacity: 1;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.map .map__link .link img:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.happy {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

.happy .happy__content {
  text-align: center;
}

.happy .happy__content .happy__title {
  text-align: center;
  width: 30%;
  margin: auto;
  padding-top: 4rem;
  margin-bottom: 2rem;
  color: #0b132a;
  font-size: 38px;
  font-weight: medium;
}

.happy .happy__content .happy__text {
  line-height: 26px;
  margin: 0 auto;
  width: 30%;
  font-size: 16px;
  font-size: 400;
  color: #4f5665;
}

.happy .gallery {
  margin-top: 8rem;
}

.happy .gallery .gallery__list .gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .contact {
  width: 50px;
  height: 50px;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .bio__text .bio__name {
  color: #0b132a;
  font-size: 18px;
  font-weight: 500;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .bio__text .bio__country {
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .bio__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .bio__star a {
  font-size: 14px;
  font-weight: normal;
  margin-right: 0.4rem;
  text-decoration: none;
  color: #0b132a;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio .bio__star img {
  width: 16px;
  height: 16px;
}

.happy .gallery .gallery__list .gallery__item .gallery__bio .bio__text {
  margin: 1rem 1.5rem 0;
  color: 16px;
  font-weight: 400;
  line-height: 30px;
}

.happy .gallery .gallery__list .gallery__item .bio__text {
  color: #0b132a;
  line-height: 26px;
  font-size: 16px;
  font-weight: normal;
}

.happy .gallery .gallery__list .gallery__item:hover {
  border-color: #f53838;
  background: #fff;
}

.happy .gallery .g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 15rem;
}

.happy .gallery .g .slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0.2rem;
  background-color: #dde0e4;
}

.happy .gallery .g .slider .swiper-pagination-bullet-active {
  background-color: red;
}

.happy .gallery .g .swiper .prev {
  border: 1.5px solid #f53838;
  border-radius: 50%;
  color: #f53838;
  padding: 0.5rem;
  font-size: 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 0.5rem;
}

.happy .gallery .g .swiper .prev:hover {
  background: #f53838;
  color: #fff;
}

.happy .gallery .g .swiper .next {
  margin-left: 0.5rem;
  border: 1.5px solid #f53838;
  border-radius: 50%;
  color: #f53838;
  padding: 0.5rem;
  font-size: 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.happy .gallery .g .swiper .next:hover {
  background: #f53838;
  color: #fff;
}

.happy .swiper .swiper-container .swiper-wrapper .swiper-slide {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 100%;
}

.happy .swiper .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.footer {
  font-family: "Rubik", sans-serif;
  height: 70vh;
}

.footer .footer__content1 {
  margin: 0 auto;
  width: 75%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0 5rem;
}

.footer .footer__content1 .content .content__title .title {
  width: 55%;
  font-weight: 500;
  font-size: 35px;
}

.footer .footer__content1 .content .content__text {
  margin-top: 0.5rem;
}

.footer .footer__content1 .content .content__text .text {
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
}

.footer .footer__content1 .content__btn .link {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f53838;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: 0px 12px 40px #ff000032;
          box-shadow: 0px 12px 40px #ff000032;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.footer .footer__content1 .content__btn .link:hover {
  background-color: #fff;
  border: 1px solid #f53838;
  color: #f53838;
}

.footer .footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem auto;
  width: 90%;
  padding-bottom: 2rem;
}

.footer .footer__adress .adress__vpn .valya .vpn__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__adress .adress__vpn .valya .vpn__logo .vpn__img {
  width: 35px;
  height: 35px;
}

.footer .footer__adress .adress__vpn .valya .vpn__logo .vpn__title {
  font-weight: 500;
  font-size: 22px;
}

.footer .footer__adress .adress__vpn .valya .vpn__text {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 15px;
  color: #4f5665;
  width: 50%;
}

.footer .footer__adress .adress__vpn .valya .vpn__link {
  margin-bottom: 2rem;
}

.footer .footer__adress .adress__vpn .valya .vpn__link .img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 12px;
  background: #fff;
  color: #f53838;
}

.footer .footer__adress .adress__vpn .valya .team {
  text-decoration: none;
  color: #c6c7ca;
  font-size: 15px;
}

.footer .footer__adress .footer__information .title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}

.footer .footer__adress .footer__information .branch {
  line-height: 35px;
  list-style: none;
}

.footer .footer__adress .footer__information .branch li {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1024px) and (max-width: 1281px) {
  .container {
    width: 100%;
  }
  .container .navbar {
    margin-top: 1rem;
  }
  .container .navbar .navbar__menu .menu__logo .logo {
    margin: 0;
    width: 30px;
    height: 30px;
  }
  .container .navbar .navbar__menu .menu__logo .name {
    margin-left: 0.4rem;
    font-size: 26px;
  }
  .container .navbar .navbar__menu .menu__items .items {
    margin: 0 0.6rem;
  }
  .container .navbar .navbar__menu .menu__sign .sign {
    padding: 0;
  }
  .container .main {
    height: 55vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main .main__content {
    width: 100%;
    margin-left: 0;
  }
  .container .main .main__content .main__title {
    margin-left: 3rem;
    width: 45%;
    font-size: 28px;
  }
  .container .main .main__content .content__text {
    width: 85%;
    padding: 0;
    margin: 1rem auto;
  }
  .container .main .main__content .content__link {
    margin: 0 auto;
    width: 180px;
    height: 45px;
    font-size: 16px;
  }
  .container .main .main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main .main__img .img {
    width: 100%;
    margin-right: 2rem;
  }
  .container .main__foot {
    height: 25vh;
  }
  .container .main__foot .main__footer {
    height: 130px;
  }
  .container .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .check .check__img {
    margin: 0;
  }
  .container .check .check__img img {
    width: 80%;
  }
  .container .check .check__content {
    margin: 0;
  }
  .container .check .check__content .check__title {
    width: 75%;
  }
  .plan {
    min-height: 150vh;
  }
  .plan .intro .plan__box {
    width: 24%;
  }
  .map {
    min-height: 120vh;
  }
  .map .map__content .content__tit .title {
    width: 40%;
  }
  .map .map__content .content__te .text {
    width: 50%;
  }
  .map .map__img img {
    width: 80%;
  }
  .happy {
    min-height: 130vh;
  }
  .happy .happy__content .happy__title {
    width: 47%;
  }
  .happy .happy__content .happy__text {
    width: 54%;
  }
  .happy .gallery {
    margin-top: 4rem;
  }
  .footer .footer__content1 {
    width: 87%;
  }
  .footer .footer__content1 .content .content__title .title {
    width: 87%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
  }
  .container .navbar .navbar__menu {
    margin: 0;
    display: none;
  }
  .container .navbar .mobile__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    padding: 0 1rem;
  }
  .container .navbar .mobile__logo .logotip .logo {
    width: 20%;
    height: 20%;
  }
  .container .navbar .mobile__logo .logotip .name {
    text-decoration: none;
    color: #0b132a;
  }
  .container .navbar .mobile__logo .logotip .name .vpn {
    color: #0b132a;
    font-weight: 700;
  }
  .container .navbar .mobile__menu {
    padding: 0.7rem 2.2rem;
  }
  .container .navbar .mobile__menu .menuu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
  .container .main .main__content {
    width: 100%;
    margin-left: 0;
  }
  .container .main .main__content .main__title {
    margin: 0 auto;
    width: 80%;
    font-size: 25px;
    text-align: center;
  }
  .container .main .main__content .content__text {
    width: 90%;
    padding: 0;
    margin: 1rem auto;
  }
  .container .main .main__content .content__link {
    margin: 0 auto;
  }
  .container .main .main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main .main__img .img {
    width: 80%;
    margin: 0 auto;
  }
  .container .main__foot {
    margin: 2rem 0;
  }
  .container .main__foot .main__footer {
    -webkit-box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.03);
  }
  .container .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
  }
  .container .check .check__img {
    margin: 0 auto;
    width: 80%;
  }
  .container .check .check__content {
    width: 100%;
    margin: 0;
  }
  .container .check .check__content .check__title {
    width: 100%;
    text-align: center;
  }
  .container .check .check__content .check__text {
    width: 86%;
    margin: 0.5rem auto;
  }
  .container .check .check__content .check__table {
    margin-left: 2rem;
  }
  .plan {
    height: 400vh;
  }
  .plan .plan__content .textt {
    margin: 0;
  }
  .plan .plan__content .textt .plan__text {
    width: 100%;
  }
  .plan .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .intro .plan__box {
    width: 70%;
    margin: 0.5rem 0;
  }
  .map {
    height: 100vh;
  }
  .map .map__content .content__tit .title {
    width: 80%;
  }
  .map .map__content .content__te .text {
    width: 80%;
  }
  .map .map__img img {
    width: 84%;
  }
  .happy {
    max-height: 100vh;
  }
  .happy .happy__content .happy__title {
    width: 100%;
  }
  .happy .happy__content .happy__text {
    width: 100%;
  }
  .happy .gallery {
    margin: 0;
  }
  .happy .gallery .g {
    padding: 1rem 1rem;
  }
  .happy .gallery .g .slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .happy .gallery .g .swiper .prev {
    font-size: 32px;
  }
  .happy .gallery .g .swiper .next {
    font-size: 32px;
  }
  .footer {
    height: 100vh;
  }
  .footer .footer__content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .footer .footer__content1 .content .content__title .title {
    text-align: center;
    width: 100%;
  }
  .footer .footer__content1 .content .content__text .text {
    text-align: center;
  }
  .footer .footer__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__logo {
    margin: 1rem 0;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__logo .vpn__img {
    margin-right: 0.2rem;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__text {
    margin: 1rem 0;
    width: 100%;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer__adress .adress__vpn .valya .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .footer__adress .footer__information .title {
    margin-bottom: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .container .navbar .navbar__menu {
    margin: 0;
    display: none;
  }
  .container .navbar .mobile__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    padding: 0 1rem;
  }
  .container .navbar .mobile__logo .logotip .logo {
    width: 20%;
    height: 20%;
  }
  .container .navbar .mobile__logo .logotip .name {
    text-decoration: none;
    color: #0b132a;
  }
  .container .navbar .mobile__logo .logotip .name .vpn {
    color: #0b132a;
    font-weight: 700;
  }
  .container .navbar .mobile__menu {
    padding: 0.7rem 2.2rem;
  }
  .container .navbar .mobile__menu .menuu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
  .container .main .main__content {
    width: 100%;
    margin-left: 0;
  }
  .container .main .main__content .main__title {
    margin: 0 auto;
    width: 80%;
    font-size: 25px;
    text-align: center;
  }
  .container .main .main__content .content__text {
    width: 90%;
    padding: 0;
    margin: 1rem auto;
  }
  .container .main .main__content .content__link {
    margin: 0 auto;
  }
  .container .main .main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main .main__img .img {
    width: 80%;
    margin: 0 auto;
  }
  .container .main__foot {
    margin: 2rem 0;
  }
  .container .main__foot .main__footer {
    -webkit-box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 24px 72px rgba(0, 0, 0, 0.03);
  }
  .container .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
  }
  .container .check .check__img {
    margin: 0 auto;
    width: 80%;
  }
  .container .check .check__content {
    width: 100%;
    margin: 0;
  }
  .container .check .check__content .check__title {
    width: 100%;
    text-align: center;
  }
  .container .check .check__content .check__text {
    width: 86%;
    margin: 0.5rem auto;
  }
  .container .check .check__content .check__table {
    margin-left: 2rem;
  }
  .plan {
    height: 400vh;
  }
  .plan .plan__content .textt {
    margin: 0;
  }
  .plan .plan__content .textt .plan__text {
    width: 100%;
  }
  .plan .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .intro .plan__box {
    width: 70%;
    margin: 0.5rem 0;
  }
  .map {
    height: 100vh;
  }
  .map .map__content .content__tit .title {
    width: 80%;
  }
  .map .map__content .content__te .text {
    width: 80%;
  }
  .map .map__img img {
    width: 84%;
  }
  .happy {
    max-height: 100vh;
  }
  .happy .happy__content .happy__title {
    width: 100%;
  }
  .happy .happy__content .happy__text {
    width: 100%;
  }
  .happy .gallery {
    margin: 0;
  }
  .happy .gallery .g {
    padding: 1rem 1rem;
  }
  .happy .gallery .g .slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .happy .gallery .g .swiper .prev {
    font-size: 32px;
  }
  .happy .gallery .g .swiper .next {
    font-size: 32px;
  }
  .footer {
    height: 100vh;
  }
  .footer .footer__content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .footer .footer__content1 .content .content__title .title {
    text-align: center;
    width: 100%;
  }
  .footer .footer__content1 .content .content__text .text {
    text-align: center;
  }
  .footer .footer__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__logo {
    margin: 1rem 0;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__logo .vpn__img {
    margin-right: 0.2rem;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__text {
    margin: 1rem 0;
    width: 100%;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer__adress .adress__vpn .valya .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .footer__adress .footer__information .title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .container .navbar .navbar__menu {
    display: none;
  }
  .container .navbar .mobile__logo {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 1.5rem;
  }
  .container .navbar .mobile__logo .name {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }
  .container .navbar .mobile__logo .name .vpn {
    font-weight: 600;
    font-size: 16px;
  }
  .container .navbar .mobile__menu {
    padding: 0;
    height: 100vh;
  }
  .container .navbar .mobile__menu .menuu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .navbar .mobile__menu .mobile__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .navbar .mobile__menu .mobile__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .main {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    position: relative;
    height: 60vh;
  }
  .container .main .main__content {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .container .main .main__content .main__title {
    margin-top: 4rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .container .main .main__content .content__text {
    margin-left: 1.5rem;
    padding: 0;
    width: 100%;
  }
  .container .main .main__content .content__link {
    background: #f53838;
    font-size: 16px;
    color: #f53838;
    border-radius: 0px;
    margin-top: 1rem;
    width: 50%;
    color: floralwhite;
    border-radius: 5px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .container .main .main__img {
    margin-left: 4rem;
  }
  .container .main .main__img .img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    margin-top: 1.5rem;
  }
  .container .main__foot {
    margin-top: 5rem;
    margin-left: 0;
  }
  .container .main__foot .main__footer {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container .main__foot .main__footer .footer__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2.5rem;
  }
  .container .main__foot .main__footer .footer__table .table__img {
    width: 100%;
  }
  .container .main__foot .main__footer .footer__table .table__result {
    margin-left: 0.5rem;
  }
  .container .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
    height: 107vh;
  }
  .container .check .check__img {
    width: 100%;
    margin: 0;
    margin-left: 3.5rem;
  }
  .container .check .check__img img {
    width: 100%;
    height: 100%;
  }
  .container .check .check__content {
    width: 100%;
    margin-left: 0;
  }
  .container .check .check__content .check__title {
    margin-top: 4rem;
    margin-left: 1rem;
    text-align: center;
    width: 100%;
  }
  .container .check .check__content .check__text {
    margin-left: 1.5rem;
    width: 100%;
  }
  .container .check .check__content .table {
    margin-left: 1.5rem;
  }
  .plan {
    background-color: #fff;
    margin-top: 5rem;
    height: 395vh;
  }
  .plan .plan__content .plan_title {
    display: block;
  }
  .plan .plan__content .textt {
    margin: 0;
  }
  .plan .plan__content .textt .plan__text {
    width: 100%;
  }
  .plan .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plan .intro .plan__box {
    margin-top: 1rem;
    width: 80%;
  }
  .map {
    height: 100vh;
  }
  .map .map__content .content__tit .title {
    width: 100%;
  }
  .map .map__content .content__te .text {
    width: 100%;
  }
  .map .map__img img {
    margin: 0.2rem auto;
    width: 90%;
  }
  .map .map__link a {
    width: 100%;
  }
  .map .map__link a img {
    margin: 0 auto;
    width: 15%;
  }
  .happy {
    height: 100vh;
  }
  .happy .happy__content .happy__title {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 32px;
  }
  .happy .happy__content .happy__text {
    width: 100%;
  }
  .happy .gallery {
    width: 100%;
    margin-top: 1rem;
  }
  .happy .gallery .g {
    padding: 1rem 0.5rem;
  }
  .happy .gallery .g .slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .happy .gallery .g .swiper .prev {
    font-size: 28px;
  }
  .happy .gallery .g .swiper .next {
    font-size: 28px;
  }
  .happy .gallery .gallery__list {
    width: 100%;
  }
  .happy .gallery .gallery__list .gallery__item {
    width: 400px;
  }
  .footer {
    height: 100vh;
  }
  .footer .footer__content1 {
    height: 200px;
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .footer .footer__content1 .content .content__title .title {
    width: 100%;
    margin: 0 auto;
  }
  .footer .footer__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
    margin: 4rem auto;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__text .title {
    font-weight: 700;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 0;
  }
  .footer .footer__adress .adress__vpn .valya .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .footer__adress .adress__vpn .valya .vpn__text {
    margin: 0;
    width: 90%;
  }
  .footer .footer__adress .footer__information .title {
    margin-bottom: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */